* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

:root {
    --background-color: rgb(20, 28, 42); 
    --light-bg-color: #1a2231;
    --input-bg-color: rgb(32, 41, 56);
    --header-bg: #141928;
    --accent-color: #b4f04b;
    --border: rgb(50, 60, 80);
}

body {
    background-color: var(--background-color);
    color: whitesmoke;
}

header {
    background-color: var(--header-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--border);
    position: relative;
}

.logo {
    color: var(--accent-color);
    cursor: pointer;
}

header nav ul {
    display: flex;
    gap: 2.5rem;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.15rem;
    transition: color 0.25s;
}

header nav ul li a:hover {
    color: var(--accent-color);
}

.small-nav {
    display: none;
}

.navigation {
    display: flex;
    flex-direction: column;
    gap: 7.5px;
}

.lines {
    width: 30px;
    height: 2px;
    border-radius: 0.3rem;
    background-color: white;
}

.show ul {
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    text-align: center;
    gap: 1rem;
    background-color: var(--header-bg);
    padding: 1.5rem;
    border-bottom: 1px solid var(--border);
}

@media screen and (max-width: 500px) {
    .big-nav {
        display: none;
    }
    .small-nav {
        display: block;
    }
}