<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/root.css">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheet %}{% endblock %}
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body>

    <header>
        <div class="logo">
            <h1>Haul</h1>
        </div>
        <nav class="big-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </nav>
        <nav class="small-nav">
            <div class="navigation">
                <div class="lines"></div>
                <div class="lines"></div>
                <div class="lines"></div>
            </div>
        </nav>
    </header>

    {% block body %}
    {% endblock %}

    {% block javascript %}
    {% endblock %}

    <script>
        const navigation = document.querySelector(".small-nav");
        const big_nav = document.querySelector(".big-nav");

        navigation.addEventListener("click", function(){
            if (big_nav.classList.contains("big-nav")) {
                big_nav.classList.replace("big-nav", "show");
            } else {
                big_nav.classList.replace("show", "big-nav")
            }
        })

    </script>

</body>
</html>