{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="../static/css/login.css">
{% endblock %}

{% block body %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {% if message == "Sucessfully created !" %}
                <p class="success">{{message}}</p>
            {% endif %}
            {% if message == "Invalid username or password !" %}
                <p class="error">{{message}}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}

<form action="" method="post">
    <h1 class="form-title">LOGIN</h1>
    <label for="email">   <br>
        <p class="legend-title">EMAIL</p>
        <input type="text" name="email" id="email" required placeholder="john@haul.in">
    </label>
    <label for="password">   <br>
        <p class="legend-title">PASSWORD</p>
        <input type="password" name="password" id="password" required placeholder="********">
    </label>
    <input type="submit" value="Login">

    <a href="/register">Create an Account?</a>
</form>

{% block javascript %}
<script src="../static/js/errorhandle.js"></script>
<script src="../static/js/successhandle.js"></script>
{% endblock %}

{% endblock %}