{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="../static/css/register.css">
{% endblock %}

{% block body %}

<form action="" method="post">
    <h1 class="form-title">REGISTER</h1>
    <label for="username">  <br>
        <p class="legend-title">USERNAME</p>
        <input type="text" name="username" id="username" required placeholder="john hammond">
    </label>
    <label for="email">   <br>
        <p class="legend-title">EMAIL</p>
        <input type="text" name="email" id="email" required placeholder="john@haul.in">
    </label>
    <label for="password">   <br>
        <p class="legend-title">PASSWORD</p>
        <input type="password" name="password" id="password" required placeholder="********">
    </label>
    <input type="submit" value="Register">

    <a href="/login">Already have an account?</a>
</form>
{% endblock %}